/*------------------------------------------------------------------ GENERAL --*/
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
}
/*------------------------------------------------------------------ HEADER --*/
header {
    text-align: center;
    color: #00006d;
}
header h1 {
    font-weight: bold;
    padding: 15px 0;
}
header ul {
    list-style: none;
}
header li {
    display: inline-block;
    padding: 0 35px;
}
header li a {
    color: #00006d;
    padding: 10px;
}
header li a:hover {
    background: rgba(52, 52, 52, 0.68);
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
/*-----------------------------------------------------------------#F1EFFA;---- HERO --*/

.hero{
    background-color: #F4F4F4;
    padding-bottom: 80px;
}

.fondo{
    background-color:#e0e0e0;
    margin-top: 40px;
    margin-left: 0px;
}


.hero img{
    width: 135%;
    height: 230px;
    overflow: hidden;
    margin-left: -45px;
}

.hero .col-md-3{
    padding: 0;
    overflow: hidden;
}

.hero em {
    color: #ccc;
}

.hero p {
    line-height: 1em;
}
.hero .blog {
    margin-top: 25px;
    padding-left: 35px;
}
.hero h4 {
    font-size: 15px;
    font-weight: bold;
}
h3{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.fondo button{
    border-radius: 5px;
    background:#18235f;
    border-color:#18235f;
    width: 180px;
    height: 35px;
    margin-top: 17px;
}

.fondo a{
    text-decoration: none;
    color: white;
}
/*-----------------------------------------------------------------#F1EFFA;---- END HERO --*/