/*------------------------------------------------------------------ GENERAL --*/
body {
    margin: 0;
    padding: 0;
}
/*------------------------------------------------------------------ HEADER --*/
header {
    text-align: center;
    color: #00006d;
}
header h1 {
    font-weight: bold;
    padding: 15px 0;
}
header ul {
    list-style: none;
}
header li {
    display: inline-block;
    padding: 0 35px;
}
header li a {
    color: #00006d;
    padding: 10px;
}
header li a:hover {
    background: rgba(52, 52, 52, 0.68);
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
/*-----------------------------------------------------------------#F1EFFA;---- HERO --*/

.hero{
    background-color: #F4F4F4;
    padding-bottom: 80px;
}

.fondo{
    background-color:#D6D6DB;
    margin-top: 40px;
}


.hero img{
    width: 90%;
    height: 230px; 
   
}

.hero .col-md-3{
    padding: 0;
}

h3{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.fondo button{
    border-radius: 5px;
    background:#18235f;
    border-color:#18235f;
    width: 180px;
    height: 35px;
}

.fondo a{
    text-decoration: none;
    color: white;
}
/*---------------------------------------------------------------------- CONTACTANOS --*/
.contactanos {
    background: url(../img/shoes_1.jpg) no-repeat;
    background-position: right;
    height: 466px;
}
.contactanos h2 {
    color: #18235f;
    font-weight: bold;
    margin: 70px 0 0 60px;
}
.contactanos form {
    width: 52%;
    padding: 20px 0 20px 60px;
}
.contactanos label {
    font-size: 26px;
    margin: 11px 0 0 9px;
    position: absolute;
    vertical-align: middle;
}
.contactanos input, textarea {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 40px;
    margin: 7px 0;
}
.contactanos textarea {
    min-width: 100%;
    max-width: 100%;
    height: 100px;
}
.contactanos .enviar {
    background: #18235f;
    padding: 14px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
/*---------------------------------------------------------------------- FOOTER --*/
footer {
    background: #18235f;
    padding: 20px 0 7px 0 ;
}
footer small {
    color: #fff;
}