/*------------------------------------------------------------------ GENERAL --*/
* {
    outline: 1px solid rgba(255, 0, 0, 0.51);
}
body {
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------------------------- HERO --*/
.hero {
    background: #efefef;
}
.hero .fondo {
    position: relative;
}
.hero .text-center {
    position: absolute;
    top: -200px;
    z-index: 1000;
}

