/* ----------------------GENERAL ------ */
body {
    margin: 0;
    padding: 0;
}
/*------------------------------------------------------------------ HEADER --*/
header {
    text-align: center;
    color: #00006d;
}
header h1 {
    font-weight: bold;
    padding: 15px 0;
}
header ul {
    list-style: none;
}
header li {
    display: inline-block;
    padding: 0 35px;
}
header li a {
    color: #00006d;
    padding: 10px;
}
header li a:hover {
    background: rgba(52, 52, 52, 0.68);
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
/*------------------------------------------------------------------ HERO --*/
.hero {
    background: url(../img/dance_7.jpg);
    background-position: left 630px;
    background-size: 150%;
    height: 400px;
}
.hero .presentacion {
    height: 400px;
    width: 100%;
    display: table;
}

.hero .texto {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}
.hero .texto h2 {
    background: rgba(0, 0, 0, 0.45);
    margin: 0 300px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.hero .texto p {
    background: rgba(0, 0, 0, 0.45);
    margin: 0 300px;
    padding: 20px 20px 40px 20px;
}

/*------------------------------------------------------------------INFORMACION --*/
.info{
    background: url(../img/cubes.png);
    height:350px;
}
.info p {
    line-height: 1.3em;
    font-family: Helvetica;
    color: #bcbcbc;
}
.informacion{
    padding: 20px;
}

.informacion .box{
    text-align: center;
    padding:40px 70px 40px 70px; 
    
}
.box h2{
    color: #bebebe;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*------------------------------------------------------------------ LISTA INSTRUCTORES --*/
.txt1{
    font-family: inherit;
    color: black;
}

.instructor{
    padding-top: 50px;
    padding-bottom: 80px;
}
.lista-instructor img{
    width: 100%;
    height: 350px;
    padding-top: 50px;
}

.txt1{
    text-align: center;
   
}


h3{ 
    font-family: inherit;
    color: black;
}

.instructores p{
    margin-bottom: 30px;
}

.contenedor{
    height: 300px;
    overflow:hidden;
    
}
/*------------------------------------------------------------------ FRASE --*/
.frase{
    background: url(../img/cubes.png);
    height: 200px;
}

.pfrase{
    height: 200px;
    width: 100%;
    display: table;
}

.txtfrase{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.txtfrase p{
    font-style: italic;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}

/*------------------------------------------------------------------ END FRASE --*/